
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    font-weight: 700;
}
h1{
    font-size: 2.6rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
}
.wrapper{
    width: 98%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.accordion{
    width: 90%;
    padding: 0.8rem;
    color: blue;
}
.accordion-item{
  border-top: 0.2rem solid rgba(90, 90, 90, 0.3); 
  border-radius: 0.2rem; 
}

.accordion-title{
    display: flex;
    justify-content: space-between;
    padding: 0 0.4rem;
    font-size: 1.2rem;
}
i{
    opacity: 0;
    transition: all 0.5s linear;
}

.accordion-item__trigger{
    padding: 0 0.4rem;
}
.accordion-item__content{
    display: block;
    padding: 0.4rem auto;
    height: 0;
    border-top: none;
    opacity: 0;
    transition: all 1s ease-in-out;
}
.accordion__img{
    display: block;
    width: 80%;
    height: 80%;
    margin: 0.6rem auto;
    object-fit: fill;
    border: 0.4rem solid #fff;
    border-radius: 1rem;
}

.accordion-item__input:checked + label  .accordion-item__content {
    opacity: 1;
    height: 100%;
}
.accordion-item__input:checked + label  .accordion-title{
     color: black;
}
.accordion-item__input:checked + label  i {
   transform: rotate(45deg);
}

@media (hover: hover) {
    .accordion:hover{
        color: black;
    }
    .accordion:hover i {
        opacity: 1;
    }
    .accordion-item:hover i {
        transform: rotate(45deg);
    }
    .accordion-title:hover ~ .accordion-item__content ,
    .accordion-item__content:hover{
        height: 100%;
        opacity: 1;
    }
}
@media (min-width: 820px) {
    h1{
        font-size: 3rem;
    }
    .accordion-title{
        font-size: 1.5rem;
    }
    .accordion__img{
        width: 60%;
        height: 60%;
  }
}
  @media (min-width: 821px) {
    .accordion *{
        cursor: pointer;
    }
  }
  @media (min-width: 1920px) {
    h1{
        font-size: 4rem;
    }
    .accordion-title{
        font-size: 2.5rem;
    }
    .accordion__img{
        width: 50%;
        height: 50%;
  }
}